#cardContainer {
    position: relative;
    

  }
  
  .draggable {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border:3px double #000000;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    height: auto;
  }
  
  .draggable-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: wheat;
    color: #855d5d;
    border-radius: 15px 15px 0 0;
  }
