body{
    background-color: rgb(255, 255, 255);
    font-family: 'Courier', monospace;

}

/* Contenitore della griglia */
.grid-drop-container {
    display: grid; /* Imposta il layout a griglia */
    grid-template-columns: repeat(3, 1fr); /* 3 colonne di larghezza uguale */
    gap: 20px; /* Spazio tra le griglie */
    width: 100%;
    max-width: 1200px; /* Larghezza massima per il layout */
    margin: 0 auto; /* Centra il contenitore nella pagina */
    padding: 20px; /* Spaziatura interna */
    box-sizing: border-box;
}

.image-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.draggable {
    width: 150px;
    margin: 10px;
    cursor: grab;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.draggable:active {
    cursor: grabbing;
}

.drop-area {
    flex: 1 1 calc(33.33% - 20px); /* Ogni area occupa circa 1/3 della larghezza */
    /* max-width: 300px; Opzionale: limita la dimensione delle drop area */
    
    width: 100%;
    height: 300px;
    border: 2px dashed #ccc;
    border-radius: 12px;
    display: flex;
    justify-content: center;
   /* align-items: center; */
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.drop-area.dragover {
    background-color: #e0e0e0;
}

.drop-area img {
    max-width: 100%; /* Le immagini si adattano alla larghezza */
    max-height: 100%; /* Evita che superino l'altezza del contenitore */
    object-fit: contain; /* Mantiene il rapporto d'aspetto */
}
