body{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    border: red 3px solid;
}

.img {
    width: 50%;
    height: 50%;
    border: rgb(72, 211, 13) 3px solid;
}

.item {
    width: 50%;
    height: 50%;
    border: green 3px solid;
}

main {
    padding: 10%;
}
/*gallery style*/
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
