* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(239, 234, 228, 1);
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: circle;
    padding: 50%;
  }
  
  article {
    float: left;
    padding: 10%;
    width: 70%;
    }

  table, th, td {
    /*border:1px solid rgb(137, 38, 38);*/
    content: align;
    text-align: center;
    vertical-align: middle;
    align-items: center;
  }

  .btn {
    border: 2px solid wheat;
    background-color:rgba(237, 229, 218, 1);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  /* Gray */
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #e7e7e7;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

.img {
    width: 80%;
}

.tooltip {
    position: relative;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    color: black;
    white-space: nowrap;
    background-color: transparent;
    padding: 5px;
    pointer-events: none;
    visibility: hidden;
    text-decoration: underline;
  }
  
  .tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg); /* Crea l'angolo diagonale */
    width: 40px; /* Lunghezza della linea */
    height: 1px; /* Spessore della linea */
    background-color: black;
  }
  
  .image-container:hover .tooltip {
    visibility: visible;
  }
  
  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    position: fixed;
    background-color:rgba(216, 197, 165, 1);
    padding: 10px;
    text-align: center;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }