/*OPTIONS _____________________________________________*/

.options {
    display: flex;               /* Attiva il layout flexbox */
    float: right;
    flex-direction: column;      /* Disposizione verticale */
    align-items: center;         /* Centra orizzontalmente */
    gap: 20px;                   /* Spazio tra gli elementi */
    background-color: rgb(235, 235, 235);
    width:20%;
    border: 4px double black;    /* Bordo doppio */
    border-radius: 20px;
    padding: 10px;               /* Spaziatura interna */
    box-sizing: border-box;      /* Include il padding nella larghezza */
    margin-bottom: 100px;
}

#finished {
    text-align: center;          /* Centra il testo */
    padding: 6px;
    border: 1px solid black;    /* Bordo doppio */
    border-radius: 20px;
    display: flex;
}

.buttons-options {
    display: flex;               /* Flexbox per i bottoni */
    gap: 10px;                   /* Spazio tra i bottoni */
}

.options button {
    background-color: rgb(232, 219, 219);
    border-radius: 10px;
    padding: 10px 20px;          /* Migliora la dimensione dei bottoni */
    border: 1px solid black;
    cursor: pointer;             /* Cambia il cursore al passaggio */
    transition: background 0.3s; /* Effetto hover fluido */
}

.options button:hover {
    background-color: rgb(200, 200, 200); /* Cambio colore al passaggio */
}