.interactive-area {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #000000;
    border: 2px dashed #ccc;
    overflow: hidden;
  }
  
  .point {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.6),
                 0 0 30px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7));
  }
  
  .point:hover {
    transform: scale(1.5);
    text-shadow: 0 0 15px rgba(255, 255, 255, 1),
                 0 0 30px rgba(255, 255, 255, 0.8),
                 0 0 45px rgba(255, 255, 255, 0.6);
    filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.9));
  }
  
  .point::after {
    content: "burn";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    margin-bottom: 5px;
  }
  
  .point:hover::after {
    opacity: 1;
  }
  
  .popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    z-index: 1000;
  }
  
  .popup p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .popup .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .popup-dark {
    display: none;
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1001;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .popup-dark p {
    margin: 0;
    color: #ffffff;
  }

  textarea {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    resize: none;
  }

  #supplyButton {
    padding-left: 10%;
  }

  #confirmButton,
  #ignoreButton,
  #repeatButton {
    margin: 10px auto; /** Spazio tra i bottoni- togliere per avvicinarli all'img*/
    padding: 10px 20px;
    border: none;
    background-color: rgb(232, 219, 219);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  #confirmButton:hover,
  #ignoreButton:hover,
  #repeatButton:hover {
    background-color: #8b8b8b;
  }

